* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Monserrat', sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.number {
    display: block;
    background-color:rgba(255, 255, 255, 0.2);
    padding: 16px;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.97);
    display: flex;
    align-items:flex-end;
}
.logo {
    width: 120px;
}
.logo:hover {
    opacity: 0.8;
}
header {
    background-color:rgba(255, 255, 255, 0.2);
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-box-shadow: 0px 0px 18px 0px rgb(0, 0, 0);
    -moz-box-shadow:    0px 0px 18px 0px rgb(0, 0, 0);
    box-shadow:         0px 0px 18px 0px rgb(0, 0, 0);
}
.option {
    margin-right: 32px;
    text-decoration: none;
    color: black;
    padding: 16px;
}

.container-main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:flex-end;
    flex-direction:column;
}

main {
    
}

.main-title {
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
    color:  black
}

.card-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: rgb(0,0,0,0.5);
    color: black;
}
.card-title {
    text-align: center;
    padding: 16px 0;
    color:  black(0.3)
}
.card {
    border-radius: 10px;
    width: 300px;
    padding: 16px;
    -webkit-box-shadow: 0px 0px 18px 0px rgb(0, 0, 0);
    -moz-box-shadow:    0px 0px 18px 0px rgb(0, 0, 0);
    box-shadow:         0px 0px 18px 0px rgb(0, 0, 0);
    margin-bottom: 32px;
    margin: 10px;
    display: flex;
    flex-wrap:wrap;
flex-direction:column;
    color: ;

}
.card-link {
    display: block;
    background-color:rgba(255, 255, 255, 0.2);
    padding: 16px;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.97);
}
.dropbtn {
    background-color: rgba(0,0,0,0.01);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropbtn {color: none;}
.dropdown:hover .dropdown-content {display: block;}
.card-wrapper {
    display: flex;
    justify-content:space-around

}
body {
    background: url(./1585604518_6-p-svetlie-myagkie-foni-11.jpg)
}
.socials {
    display: block;
    color: blue;
    transition: 0.4s;
    display: flex;
    flex-direction: row;
  justify-content: center;
  max-height: 200px;
}
.footer-link {
    color: black;
    padding: 10px;
    width: 10px;
    height: 10px;
    
}
footer {
    max-height: 50px;
    padding: 10px;
    
}
.card-link:hover {
    text-decoration: underline;
    color: rgba(27, 153, 90, 0.97);
}
.headder-lower {
    max-height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;;
}
.socials {
    max-height: 80px;
}
.main-lower {
    max-height: 50px;
}